*,
*::before,
*::after {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   // 1rem = 10px ; 10/16 = 62.5%
    scroll-behavior: smooth;

    @include respond(tab-land) {   
        font-size: 56.25%;    // 1rem = 9px ; 9/16 = 56.25%
    }

    @include respond(tab-port) {   
        font-size: 50%;    // 1rem = 8px ; 8/16 = 50%
    }

    @include respond(big-desktop) {   
        font-size: 75%;    // 1rem = 12px ; 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
}

.container {
    height: max-content;
    background: url(../img/pattern.png) repeat;
    padding-top: 10rem;
    display: grid;
    grid-template-rows: minmax(max-content, 90vh) min-content;
    justify-content: stretch;
    align-items: center;
    gap: 5rem;
}

::selection {
    color: $color-white;
    background: $color-primary;
}