//WIDTH
$max-width: 135rem;

//COLORS
$color-primary: #2394bc;
$color-primary-light: #00f1e5;

$color-secondary: #ff8D29;

$color-tertiary: #6fc341;

$color-grey: #777;
$color-grey-light: #edf1f4;
$color-grey-dark: #475569;
$color-grey-dark-2: #1e293b;

$color-white: #fff;
$color-black: #000;

//FONT
$font: 400 1.6rem/1.7 "IranSans", "vazir" , Sans-serif;
$default-font-size: 1.6rem;

//PADDING
$padding-top-small: 2rem;

//BORDER-RADIUS
$border-radius: 3px;

